@import url('base/_variables.css');
@import url('base/_reset.css');
@import url('base/_typography.css');
@import url('base/_layout.css');

@import url('components/botones.css');
@import url('components/formularios.css');
@import url('components/tablas.css');
@import url('components/paneles.css');
@import url('components/mensajes.css');
@import url('components/pasos.css');
@import url('components/matrices.css');

@import url('modulos/biseccion.css');

