{% extends 'base.html' %}

{% block title %}Gauss-Jordan{% endblock %}

{% block body %}
<h1 class="titulo_matriz">Método Gauss-Jordan</h1>
<div>
    {% include '_entrada_matrices.html' %}
</div>

{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}

{% if resultado %}
    <h2 class="titulo_matriz">Matriz reducida:</h2>
    <table class="matriz_resultado">
        <thead>
            <tr>
                {% for i in range(resultado.matriz_reducida[0]|length - 1) %}
                    <th>x{{ i+1 }}</th>
                {% endfor %}
                <th>b</th>
            </tr>
        </thead>
        <tbody>
        {% for fila in resultado.matriz_reducida %}
        <tr>
            {% for celda in fila %}
            <td>{{ celda }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2 class="titulo_matriz">Soluciones:</h2>
    <ul class="soluciones">
        {% for sol in resultado.soluciones %}
        <li><span class="variable">x{{ loop.index }}</span> <span class="igual">=</span> <span class="valor_solucion">{{ sol }}</span></li>
        {% endfor %}
    </ul>
{% endif %}

{% if pasos %}
    <h2 class="titulo_matriz">Paso a paso:</h2>
    <ul class="pasos">
        {% for paso in pasos %}
        <li><strong>{{ paso[0] }}</strong>
            <table class="matriz_resultado">
            <thead>
                <tr>
                    {% for i in range(paso[1][0]|length - 1) %}
                        <th>x{{ i+1 }}</th>
                    {% endfor %}
                    <th>b</th>
                </tr>
            </thead>
            <tbody>
            {% for fila in paso[1] %}
                <tr>
                {% for celda in fila %}
                    <td>{{ celda }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}