{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<div class="dashboard-container">
    <aside class="panel-lateral">
        <nav>
            <ul class="panel-lista">
                <li><a href="{{ url_for('routes_bp.sistemas_view') }}">Sistemas de ecuaciones lineales</a></li>
                <li><a href="{{ url_for('routes_bp.determinante_view') }}">Determinante de una matriz</a></li>
                <li><a href="{{ url_for('routes_bp.matriz_inversa_view') }}">Matriz inversa</a></li>
                <li><a href="{{ url_for('routes_bp.traspuesta_view') }}">Matriz traspuesta</a></li>
                <li><a href="{{ url_for('routes_bp.operaciones_matrices_view') }}">Operaciones con matrices</a></li>
                <li><a href="{{ url_for('routes_bp.independencia_lineal') }}">Independencia lineal de vectores</a></li>
                <li><a href="{{ url_for('routes_bp.biseccion_view') }}">Método de bisección</a> </li>
                <li><a href="{{ url_for('routes_bp.falsa_posicion_view') }}">Método falsa posición</a></li>
                <li><a href="{{ url_for('routes_bp.informacion_view') }}">Información</a></li>
            </ul>
        </nav>
    </aside>
    <main class="panel-principal">
        <h1 class="titulo-principal">Selecciona una opción</h1>
        <hr>
        <p>Usa el panel lateral para navegar entre los distintos métodos para resolver
            ecuaciones lineales y herramientas que permiter realizar distintas operaciones
            con matrices y vectores.</p>
    </main>
</div>
{% endblock %}
